* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
#root {
    width: 100%;
    display: flex;
    justify-content: center;
}
html {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 22, 1);
    font-size: 16px;
   
}
 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 10vw;
    max-width: 1000px;
}

.header {
    font-size: 2em;
    display: flex;
    flex-direction: column;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 1%;
}

.spinner {
    font-size: 0.8em;
    animation-name: rotation;
    animation-duration: 4s;
    opacity: 1;
}

@keyframes rotation {
    from {transform: rotate(0deg); opacity: 0;}
    to {transform: rotate(720deg); opacity: 1;}
}

.icon_profile {
    font-size: 0.9em;
    margin: 0 0.7em;
}

.icon_circle {
    font-size: 0.37em;
    margin: 1em 1em;
}

ul {
    padding-left: 3em;
    margin-bottom: 1rem;
}

.columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 3%;
    justify-content: center;
}

.left_column {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.right_column {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.main {
    padding: 0 1.5rem;
    margin-top: 1rem;
}

.section_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    justify-content: center;
    margin: 1rem 0;
}

.education {
    margin-top: 2rem;
}

.grey {
    color: grey;
    margin-bottom: 0.3rem;
}

.parts_description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line_description {
    text-align: center;
}

.degree {
  color: black
}

.job_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.education_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    text-align: end;
    padding-right: 1rem;
}


.job_city {
    font-size: 0.8em;
    text-align: end;
    width: 12em;
    min-width: 12em;
}

.job_name {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0.5em 0;
}

.job_date {
    font-size: 0.9em;
}

.description {
    margin: 0.5em 0;
}

.education_list {
    margin: 1rem 0 0 -1.3rem;
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 14px;
    }
    .container {
        margin: 2rem 1vw;
    }
    .columns {
        flex-direction: column;
        width: 95%;
        align-items: center;
    }
    .left_column, .right_column {
        width: 100%;
    }
    .main, .education {
        margin-top: 0;
    }
}

@media print {
    html {
        font-size: 15px;
    }
}
